.page {
    border: 2px solid green;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    display:flex;
    align-items: center;
}

.hero {
    /* flex-grow: 1; */
    width: 60%;
    flex-shrink: 1;
    height: 100%;
}

.formContainer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid rgb(97, 97, 99);
    border-radius: 10px;
    background-color: rgba(10, 10, 10, 0.952);
}

.formHeading {
    font-size: xx-large;
    margin-bottom: 10px;
    color: aliceblue;
}

.inputDiv {
    width: 100%;
    margin-bottom: 1em;
    background-color: rgb(10, 10, 10);
    background-color: rgb(27, 27, 27);
    border: 1px solid rgb(29, 29, 29);
    border-radius: 5px;
    color: rgb(99, 99, 99);
    padding: .3rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    /* gap: .3rem; */
}

.inputDiv .icon {
    text-align: center;
    width: 10%;
}
.inputDiv .svg {
    cursor: pointer;
}

.formInput {
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    font-size: .8em;
    width: 80%;
    /* flex-grow: 1; */
}

.btn-text {
    color: rgb(43, 43, 43);
    font-weight: 600;
    font-size: larger;
}

.p-text {
    color: rgb(99, 99, 99);
}

.errorMsg {
    display: none;
    color: brown;
    font-size: large;
}